---
import "../styles/chapter.scss";

import BaseHead from "../components/BaseHead.astro";
import { DEFAULT_LANGUAGE, SITE_AUTHOR } from "../consts";
import { eraseTooltip } from "@utils/parseTooltip";

type Props = {
  name: string;
  chapter: number;
  author?: string | undefined;
  date: Date;
  novel: string;
  prev?: string | undefined;
  next?: string | undefined;
};

const { name, author = SITE_AUTHOR, chapter, novel, prev, next } = Astro.props;
---

<html lang={DEFAULT_LANGUAGE}>
  <head>
    <BaseHead title={`(${chapter}) - ${eraseTooltip(name)}`} description={`By ${author}`} />
  </head>

  <body>
    <nav>
      {
        prev ?
          <a href={`/${novel}/${prev}`}>{"<<<"}</a>
        : <span class="disabled">{"<<<"}</span>
      }
      <a href={`/${novel}/`}>Index</a>
      {
        next ?
          <a href={`/${novel}/${next}`}>{">>>"}</a>
        : <span class="next-link disabled">{">>>"}</span>
      }
    </nav>

    <hr />
    <main>
      <article>
        <slot />
      </article>
    </main>
    <hr />

    <nav>
      {
        prev ?
          <a href={`/${novel}/${prev}`}>{"<<<"}</a>
        : <span class="disabled">{"<<<"}</span>
      }
      <a href={`/${novel}/`}>Index</a>
      {
        next ?
          <a href={`/${novel}/${next}`}>{">>>"}</a>
        : <span class="next-link disabled">{">>>"}</span>
      }
    </nav>
  </body>
</html>
